body {
}


a.navbar-brand, a.nav-link {
    color: white;
}

a.navbar-brand:focus, a.nav-link:focus, a.navbar-brand:hover, a.nav-link:hover {
    color: #251a2a;
}

#tblHeader {
    background-color: #d63b5a;
}

#submitBtn {
    color: #fff;
    background-color: #d63b5a;
    border-color: #d63b5a;
    text-align: center;
}

    #submitBtn:focus {
        box-shadow: 0 0 0 0.2rem rgba(236, 149, 166, 0.5);
    }

.modal-backdrop.show {
     opacity: 0.0; 
}


input.ng-invalid.ng-touched {
    border: 2px solid red;
}


button[disabled="disabled"] {
    opacity: 0.4;
    cursor: not-allowed !important;
}


@media only screen and (max-width: 600px) {
    
    #Displaytable {
        width: 100%;

    }

}
