<div>
    <h1>Update Employee Data Here</h1>

    <form name="updateEmployeeForm" novalidate>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>

                        <input type="text" ng-required="true" id="txtFirstName" name="FirstName" ng-model="updatefirstName" placeholder="FirstName" />

                        <span style="color:red" ng-show="updateEmployeeForm.FirstName.$touched && updateEmployeeForm.FirstName.$invalid">
                            <span ng-show="updateEmployeeForm.FirstName.$error.required">First Name is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <input type="text" required id="txtLastName" name="LastName" ng-model="updatelastName" placeholder="LastName" />

                        <span style="color:red" ng-show="updateEmployeeForm.LastName.$touched && updateEmployeeForm.LastName.$invalid">
                            <span ng-show="updateEmployeeForm.LastName.$error.required">Last Name is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="text" required id="txtGender" ng-model="updategender" placeholder="Gender" />
                    </td>
                </tr>
                <tr>
                    <td>Specialization</td>
                    <td>
                        <input type="text" required id="txtSpecialization" name="Specialization" ng-model="updatespecialization" placeholder="Specialization" />

                        <span style="color:red" ng-show="updateEmployeeForm.Specialization.$touched && updateEmployeeForm.Specialization.$invalid">
                            <span ng-show="updateEmployeeForm.Specialization.$error.required">Specialization is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td>
                        <input type="number" required min="0" id="txtSalary" name="Salary" ng-model="updatesalary" placeholder="Salary" />

                        <span style="color:red" ng-show="updateEmployeeForm.Salary.$touched && updateEmployeeForm.Salary.$invalid">
                            <span ng-show="updateEmployeeForm.Salary.$error.required">Specialization is required.</span>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="button" class="btn" ng-disabled="updateEmployeeForm.$invalid" data-toggle="modal" data-target="#updateModal" id="submitBtn">Submit</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>


    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header" id="tblHeader">
                    <h4 class="modal-title">Update Employee Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <h3>Are You Sure, You want to update Employee Data</h3>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="confirmedUpdateEmployeeData()">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>


</div>